*.[oa]
*.so
*.obj
*.lib
*.exp
*.pdb
*.dll
*.exe
*.manifest
*.dmp
*.swp
.tags
*~
tags
*.swo
*.pyc
artifacts/
tools/s390x/__pycache__/
tests/s390x/*/build/
tests/s390x/callbacks/*.dylib
tests/s390x/callbacks/*.dylib.dSYM/
